div {
  border: 1px solid red;
  padding: 20px; }

.header-part {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.first-section {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-section {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .flex-section:after {
    content: "";
    display: table;
    clear: both; }
  .flex-section .floater {
    float: left;
    width: 400px; }
