div {
  border: 1px solid red;
  padding: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }

.header-part {
  height: 300px; }

.first-section {
  height: 300px; }

.third-section {
  display: block;
  align-items: initial;
  justify-content: left; }

.left-column {
  float: left;
  width: 100px; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }
