div {
  border: 1px solid red;
  padding: 20px; }

.header-part {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.first-section {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-section {
  width: 100%;
  float: left;
  height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  .flex-section:after {
    content: "";
    display: table;
    clear: both; }
  .flex-section .floater {
    min-width: 200px; }
