body {
  font-family: 'PT Serif', serif; }

.page-wrapper {
  height: 100%; }

.top-section {
  font-size: 24px;
  width: calc(100% - 70px);
  max-width: 600px;
  height: 100vh;
  padding-left: 70px;
  padding-right: 40px;
  background: url("/static/white_feet.jpg");
  background-size: 100% 100%; }
  @media screen and (max-width: 700px) {
    .top-section {
      padding-left: 30px; } }

.top-text {
  padding-top: 200px; }

.projects {
  font-size: 24px;
  padding-left: 50px; }
  @media screen and (max-width: 700px) {
    .projects {
      padding-left: 30px; } }

a {
  color: black; }
