a {
  color: black; }

.profile-img {
  background: url("/static/max.jpg");
  width: 180px;
  height: 240px;
  background-size: 100% 100%;
  margin-left: 77px;
  margin-top: 40px; }

.follow-text {
  margin-top: 40px; }

.list-of-projects {
  margin-top: 20px;
  margin-left: 30px; }

.projects-list-title {
  margin-top: 40px; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 575px; }
  @media screen and (min-width: 575px) {
    body, html {
      border-right: 1px solid gray; } }

.page-wrapper {
  padding: 10px; }

.site-footer {
  top: calc(100vh - 40px);
  border-top: 1px solid gray;
  z-index: 1;
  background-color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px; }
  .site-footer .footer-text-wrapper {
    display: block;
    margin-left: 10px; }

.project-wrapper {
  margin-top: 30px; }

.project-description {
  margin-top: 10px;
  margin-left: 30px;
  max-width: 450px; }
