body {
  font-family: 'PT Serif', serif; }

.page-wrapper {
  height: 100%; }

.top-section {
  font-size: 24px;
  width: calc(100% - 70px);
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 40px; }
