body {
  margin: 0px;
  font-family: 'CaladeaRegular';
  font-weight: normal;
  font-style: normal;
  background-image: url("http://45.media.tumblr.com/21fcce46d50a6d0bf7d8e79f9777d332/tumblr_mqtuvbME5E1sb5osho1_500.gif");
  background-size: contain; }

.page1 {
  background: linear-gradient(to right, white 30%, transparent 0);
  height: 100%;
  background-size: 30px 100%;
  display: flex; }

.page2 {
  background: linear-gradient(white 30%, transparent 0);
  height: 100%;
  background-size: 100% 30px;
  display: flex; }

.page3 {
  background: linear-gradient(45deg, transparent 30%, white 0);
  height: 100%;
  background-size: 30px 30px;
  display: flex; }

.page4 {
  background: linear-gradient(45deg, transparent 30%, white 0);
  height: 100%;
  background-size: 100% 30px;
  display: flex; }

.page5 {
  background: linear-gradient(45deg, transparent 50%, transparent 0, white 62%, transparent 72%, white 75%, transparent 82%, white 90%, transparent 93%), repeating-linear-gradient(60deg, white, white 23px, transparent 0, transparent 26px);
  background-size: 100% 100%, 100% 100%, 100% 100%;
  height: 100%;
  display: flex; }

.page6 {
  height: 100%;
  background: repeating-radial-gradient(circle, white, white 3.5em, transparent 3.5em, transparent 4.5em), repeating-radial-gradient(circle, white, white 3.5em, transparent 3.5em, transparent 4.5em), repeating-radial-gradient(circle, transparent, transparent 2.5em, white 2.5em, white 2.75em), white;
  background-blend-mode: normal;
  background-size: 10em 10em;
  background-position: 0 0, 5em 5em, 10em 5em; }

.hello {
  color: black;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  font-size: 100px;
  margin: auto;
  position: relative;
  top: -20px; }

html {
  margin: 0px;
  width: 100%; }
