

body {
    //font-family: "Open Sans";
        font-family: 'PT Serif', serif;
}

.page-wrapper {
    height: 100%;
}

.top-section {
    font-size: 24px;
    width: calc(100% - 70px);
    max-width: 600px;
    //height: calc(100vh - 240px);
    //display:flex;
    //align-items: center;
    height: 100vh;
    padding-left: 70px;
    padding-right: 40px;
    @media screen and (max-width: 400px) {
        padding-left:30px;
    }
}

.top-text {
    padding-top: 200px;
}

.projects {
    font-size: 24px;
    padding-left: 50px;
}

a {
    color:black;
}

