

a {
  color:black;
}

.profile-img {
  background: url('/static/max.jpg');
  width: 180px;
  height: 240px;
  background-size: 100% 100%;
  margin-left: calc(50% - 100px);
  margin-top: 30px;
}

.follow-text {
  margin-top:40px;
}

.list-of-projects {
  margin-top: 20px;
  margin-left: 30px;
}

.projects-list-title {
  margin-top: 30px;
}


$footer-height: 20px;

body, html {
  margin: 0;
  padding: 0;
  max-width: 600px;
  @media screen and (min-width: 600px) {
    border-right: 0.5px solid gray;
  }
}


.page-wrapper {
  padding: 10px;
  min-height: calc(100vh - 40px);
  box-sizing: border-box;
    max-width: 500px;
  flex: 1;
}
.site-footer, {
  position: absolute;
  top: calc(100vh - 40px);
  border-top: 1px solid gray;
  z-index: 1;
  background-color:white;
  height: 40px;
  width: 100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  .footer-text-wrapper {
    display: block;
    margin-left: 30px;
  }
}
